<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'umi/style.css' %}" />
<link rel="shortcut icon" href="{%  static 'umi/images/favicon.ico' %}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="{% static "umi/js/data.js" %}"></script>

<div class="w3-bar w3-theme-d2">
  <a href="/umi/" class="w3-bar-item w3-button w3-hover-bar-theme w3-padding-16">Home</a>
  <a href="/umi/intro" class="w3-bar-item w3-button w3-hover-bar-theme w3-padding-16">Introduction</a>
  <a href="/umi/about/" class="w3-bar-item w3-button w3-hover-bar-theme w3-padding-16">About</a>
  <div class="w3-dropdown-hover">
    <button class="w3-button w3-hover-bar-theme w3-padding-16">
      All Research Questions <i class="fa fa-caret-down"></i>
    </button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="/umi/umi-random/" class="w3-bar-item w3-button w3-hover-bar-theme">Are UMIs truly random?</a>
      <a href="/umi/amp-bias/" class="w3-bar-item w3-button w3-hover-bar-theme">Is there an amplification bias?</a>
      <a href="/umi/gene-bias/" class="w3-bar-item w3-button w3-hover-bar-theme">Is there a bias toward certain genes?</a>
      <a href="/umi/mammal-data/" class="w3-bar-item w3-button w3-hover-bar-theme">Are these trends present in mammalian data?</a>
    </div>
  </div>
  <a href="/umi/conclusion/" class="w3-bar-item w3-button w3-hover-bar-theme w3-padding-16">Conclusion</a>
</div>

<body>
<div class='marge w3-theme-light'>

  {% block content %}
  {% endblock %}

</div>
</body>
</html>
