{% extends 'umi/base.html' %}

{% block content %}

<title>Conclusion</title>
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
  <h1 class="w3-xxxlarge w3-animate-bottom">Conclusion</h1>
</div>
</header>
<br>

<div class="w3-container">
  <p>The End</p>

</div>

<div class="w3-row w3-container">
    <a class="w3-btn w3-theme w3-hover-theme w3-left buttL" href="/umi/mammal-data"><span>Previous</span><br>What About Mammal Data?</a>
    <a class="w3-btn w3-theme w3-hover-theme w3-right butt" href="/umi/references"><span>Next</span><br>References</a>
</div>
<br>
{% endblock %}
