{% extends 'umi/base.html' %}

{% block content %}

<title>Conclusion</title>
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
  <h1 class="w3-xxxlarge w3-animate-bottom">Conclusion</h1>
</div>
</header>
<br>

<div class="w3-container w3-justify">
  <p>The findings presented in this report characterise some of the amplification biases that are present in scRNA-Seq data from <i>S. pombe</i>. UMIs themselves tend to have repetitive sequences, but it is not clear whether this is due to a manufacturing error or some kind of bias to the annealing process during amplification. The amplification itself is also biased, with some UMIs consistently being amplified more than others. This phenomenon is especially intriguing because there appears to be no pattern to the UMIs that are favoured. The genes also fail to explain the bias as UMIs do not seem to prefer certain genes over others and the genes themselves are amplified more equally than the UMIs. Although tests on human data show a similar repetitiveness in UMIs sequences, they are largely inconclusive because of the low sequencing depth of the data set.</p>
  <p>In the future, this study could be continued with the addition of time and extra sources of data. With more time, several analyses such as those concerning gene bias could provide more definitive results. It would also allow for processing more data from diverse sources, which would minimise the influence of organism- or protocol-specific effects. Successfully replicating the results here in other organisms would greatly increase the relevance of this study.</p>
  <p></p>


</div>

<div class="w3-row w3-container">
    <a class="w3-btn w3-theme w3-hover-theme w3-left buttL" href="/umi/mammal-data"><span>Previous</span><br>What About Mammal Data?</a>
    <a class="w3-btn w3-theme w3-hover-theme w3-right butt" href="/umi/references"><span>Next</span><br>References</a>
</div>
<br>
{% endblock %}
