{% extends 'umi/base.html' %}

{% block content %}

<title>Is There a Gene Bias?</title>
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
  <h1 class="w3-xxxlarge w3-animate-bottom">Are certain genes bound or amplified more?</h1>
</div>
</header>
<br>

<div class="w3-container">
  <p>The amplification bias discovered on the previous page may be due to the gene sequence of the transcript rather than the UMI. A potential gene bias is two-fold: UMIs might preferentially bind certain genes and certain genes might themselves be amplified more often than others. The genes used in this part of the study are from a set of 1,011 genes that infrequently have zero expression in a cell. </p>
  <p></p>
</div>

<div class='w3-container'>
  <button class="w3-button w3-block w3-theme w3-hover-bar-theme w3-left-align accordion">UMI frequencies of the most common genes</button>
  <div id="test" class="w3-container panel">
    <div class='w3-row'>
      <div class='w3-half'>
        <canvas id="geneChart1"></canvas>
      </div>
      <div class='w3-half'>
        <canvas id="geneChart2"></canvas>
      </div>
    </div>
    <div class='w3-row'>
      <div class='w3-half'>
        <canvas id="geneChart3"></canvas>
      </div>
      <div class='w3-half'>
        <canvas id="geneChart4"></canvas>
      </div>
    </div>
    <div class='w3-row'>
      <div class='w3-half tallerchart'>
        <canvas id="geneChart5" class='tallerchart'></canvas>
      </div>
      <div class='w3-half tallerchart'>
        <canvas id="geneChart6" class='tallerchart'></canvas>
      </div>
    </div>
    <p>Text</p>
  </div>
  <button class="w3-button w3-block w3-theme w3-hover-bar-theme w3-left-align accordion">Total gene reads versus gene expression</button>
  <div id="readsPerCount" class="w3-container panel">
    <canvas id="readsPerCountChart"></canvas>
    <p>Text</p>
  </div>
  <button class="w3-button w3-block w3-theme w3-hover-bar-theme w3-left-align accordion">Gini Index and Chart</button>
  <div id="gini" class="w3-container panel">
    <canvas id="giniChart"></canvas>
    <p>Text</p>
  </div>
  <button class="w3-button w3-block w3-theme w3-hover-bar-theme w3-left-align accordion">Reads per gene versus gene expression</button>
  <div id="readsPerVCount" class="w3-container panel">
    <canvas id="readsPerVCountChart"></canvas>
    <p>Text</p>
  </div>

</div>

<br>

<div class="w3-container">
  <h5>Conclusion</h5>
  <p>Well this leads us to believe they are not that random actually</p>
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
</div>
<div class="w3-row w3-container">
    <a class="w3-btn w3-theme w3-hover-theme w3-left" href="/umi/amp-bias"><i class='fa fa-arrow-left'></i> Previous<br>Amplification Bias?</a>
    <a class="w3-btn w3-theme w3-hover-theme w3-right" href="/umi/mammal-data">Next <i class='fa fa-arrow-right'></i><br>What About Mammal Data?</a>
</div>

<br>

<script>
var acc = document.getElementsByClassName("accordion");
var w;

for (w = 0; w < acc.length; w++) {
  acc[w].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
      panel.style.border = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
      panel.style.border = 1 + "px solid #b7d9fc";
    }
  });
}

// Six Top 100 UMI bar charts for top six genes
var ctx1 = document.getElementById('geneChart1').getContext('2d');

var chart1 = new Chart(ctx1, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: geneBias_1_umis,
        datasets: [{
            label: "SPRRNA.49",
            data: geneBias_1_SPRRNA49,
            backgroundColor: 'rgb(43, 41, 154)',
            borderColor: 'rgb(43, 41, 154)',
        }],
    },

    // Configuration options go here
    options: {
        scales: {
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Count',
                },
                ticks: {
                  max: 80
                }
            }],
            xAxes: [{
                scaleLabel: {
                    display: false,
                    labelString: 'UMI'
                },
                ticks: {
                  display: false
                }
            }],
        }
    }
});

var ctx2 = document.getElementById('geneChart2').getContext('2d');

var chart2 = new Chart(ctx2, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: geneBias_1_umis,
        datasets: [{
            label: "SPRRNA.47",
            data: geneBias_1_SPRRNA47,
            backgroundColor: 'rgb(47, 133, 145)',
            borderColor: 'rgb(47, 133, 145)',
        }],
    },

    // Configuration options go here
    options: {
        scales: {
            yAxes: [{
                scaleLabel: {
                    display: false,
                    labelString: 'Count'
                }
            }],
            xAxes: [{
                scaleLabel: {
                    display: false,
                    labelString: 'UMI'
                },
                ticks: {
                  display: false
                }
            }]
        }
    }
});

var ctx3 = document.getElementById('geneChart3').getContext('2d');

var chart3 = new Chart(ctx3, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: geneBias_1_umis,
        datasets: [{
            label: "SPRRNA.48",
            data: geneBias_1_SPRRNA48,
            backgroundColor: 'rgb(212, 219, 31)',
            borderColor: 'rgb(212, 219, 31)',
        }],
    },

    // Configuration options go here
    options: {
        scales: {
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Count',
                },
                ticks: {
                  max: 80
                }
            }],
            xAxes: [{
                scaleLabel: {
                    display: false,
                    labelString: 'UMI'
                },
                ticks: {
                  display: false
                }
            }],
        }
    }
});

var ctx4 = document.getElementById('geneChart4').getContext('2d');

var chart4 = new Chart(ctx4, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: geneBias_1_umis,
        datasets: [{
            label: "SPAC26F1.06",
            data: geneBias_1_SPAC26F106,
            backgroundColor: 'rgb(150, 49, 154)',
            borderColor: 'rgb(150, 49, 154)',
        }],
    },

    // Configuration options go here
    options: {
        scales: {
            yAxes: [{
                scaleLabel: {
                    display: false,
                    labelString: 'Count'
                }
            }],
            xAxes: [{
                scaleLabel: {
                    display: false,
                    labelString: 'UMI'
                },
                ticks: {
                  display: false
                }
            }]
        }
    }
});

var ctx5 = document.getElementById('geneChart5').getContext('2d');

var chart5 = new Chart(ctx5, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: geneBias_1_umis,
        datasets: [{
            label: "SPBC1815.01",
            data: geneBias_1_SPBC181501,
            backgroundColor: 'rgb(221, 160, 31)',
            borderColor: 'rgb(221, 160, 31)',
        }],
    },

    // Configuration options go here
    options: {
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Count',
                },
                ticks: {
                  max: 80
                }
            }],
            xAxes: [{
                scaleLabel: {
                    display: false,
                    labelString: 'UMI'
                },
                ticks: {
                  fontSize: 10,
                  maxRotation: 90,
                  minRotation: 90
                }
            }],
        }
    }
});

var ctx6 = document.getElementById('geneChart6').getContext('2d');

var chart6 = new Chart(ctx6, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: geneBias_1_umis,
        datasets: [{
            label: "SPBC26H8.01",
            data: geneBias_1_SPBC26H801,
            backgroundColor: 'rgb(11, 128, 37)',
            borderColor: 'rgb(11, 128, 37)',
        }],
    },

    // Configuration options go here
    options: {
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                scaleLabel: {
                    display: false,
                    labelString: 'Count'
                },
                ticks: {
                  max: 80
                }
            }],
            xAxes: [{
                scaleLabel: {
                    display: false,
                    labelString: 'UMI'
                },
                ticks: {
                  fontSize: 10,
                  maxRotation: 90,
                  minRotation: 90
                }
            }]
        },
    }
});

var ctx7 = document.getElementById('readsPerCountChart').getContext('2d');
var data7 = geneBias_2_count.map((x, i) => {
  return {
    x: x,
    y: geneBias_2_reads[i]
  };
});

var chart7 = new Chart(ctx7, {
    // The type of chart we want to create
    type: 'scatter',

    // The data for our dataset
    data: {
        labels: umiRandom_1_umis,
        datasets: [{
            label: "Stuff",
            data: data7,
            showLine: false
        }],
    },

    // Configuration options go here
    options: {
        tooltips: {
          enabled: false
        },
        scales: {
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Log Reads per Gene'
                }
            }],
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Log Gene Expression (molecule count)'
                }
            }]
        }
    }
});

var ctx8 = document.getElementById('giniChart').getContext('2d');
var data81 = geneBias_3_bins.map((x, i) => {
  return {
    x: x,
    y: geneBias_3_result[i]
  };
});
var data82 = geneBias_3_bins.map((x, i) => {
  return {
    x: x,
    y: geneBias_3_bins[i]
  };
});
var chart8 = new Chart(ctx8, {
    // The type of chart we want to create
    type: 'scatter',

    // The data for our dataset
    data: {
        datasets: [{
            label: "Observed",
            data: data81,
            fill: false,
            borderColor: 'rgb(255, 116, 0)'
          },
          {
            label: "Perfect Equality",
            data: data82,
            fill: false,
            borderColor: 'rgb(28, 85, 255)'
          },
        ],
    },

    // Configuration options go here
    options: {
        scales: {
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Fraction of Sequencing "Wealth"'
                }
            }],
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Fraction of Gene Population'
                }
            }]
        }
    }
});

var ctx9 = document.getElementById('readsPerVCountChart').getContext('2d');
var data9 = geneBias_4_counts.map((x, i) => {
  return {
    x: x,
    y: geneBias_3_readsPer[i]
  };
});

var chart9 = new Chart(ctx9, {
    // The type of chart we want to create
    type: 'scatter',

    // The data for our dataset
    data: {
        labels: umiRandom_1_umis,
        datasets: [{
            label: "Stuff",
            data: data9,
            showLine: false
        }],
    },

    // Configuration options go here
    options: {
        tooltips: {
          enabled: false
        },
        scales: {
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Average Reads per Gene Molecule'
                }
            }],
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Log Gene Expression (molecule count)'
                }
            }]
        }
    }
});
</script>
{% endblock %}
