{% extends 'umi/base.html' %}

{% block content %}

<title>References</title>
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
  <h1 class="w3-xxxlarge w3-animate-bottom">References</h1>
</div>
</header>
<br>

<div class="w3-container w3-justify">
	<ol>
		<li>Islam S, Zeisel A, Joost S, et al. Quantitative single-cell RNA-seq with unique molecular identifiers. <em>Nat Methods</em>. 2014;11(2):163-166. doi:10.1038/nmeth.2772.Vallejos CA,</li>
		<br>
		<li>Risso D, Scialdone A, Dudoit S, Marioni JC. Normalizing single-cell RNA sequencing data: challenges and opportunities. <em>Nat Methods</em>. 2017;14(6):565-571. doi:10.1038/nmeth.4292.</li>
		<br>
		<li>De Almeida C, Scheer H, Zuber H, Gagliardi D. RNA uridylation: a key posttranscriptional modification shaping the coding and noncoding transcriptome. <em>Wiley Interdiscip Rev RNA</em>. 2018;9(1):e1440. doi:10.1002/wrna.1440.</li>
		<br>
		<li>Distribution of Family Income - Gini Index.&nbsp;<em>The World Factbook</em>. 2018. Available at: https://www.cia.gov/library/publications/the-world-factbook/rankorder/2172rank.html. Accessed June 2, 2018.</li>
		<br>
		<li>Wood V, Harris MA, McDowall MD, et al. PomBase: a comprehensive online resource for fission yeast. <em>Nucleic Acids Res</em>. 2012;40(D1):D695-D699. doi:10.1093/nar/gkr853.</li>
	</ol>	

</div>

<br>
{% endblock %}
