{% extends 'umi/base.html' %}

{% block content %}

<title>Are UMIs Random?</title>
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center">
  <h1 class="w3-xxxlarge w3-animate-bottom">Are UMIs as random as expected?</h1>
</div>
</header>
<br>

<div class="w3-container">
  <p>As mentioned, the strength of UMIs comes from the fact that there are many more possible UMI sequences than transcript molecules for any one gene. For instance, in this dataset, there are no genes with above about 150 transcripts in a single cell. Combined with a UMI length of 8 (4<sup>8</sup> = 65,536 possible sequences), there is an acceptably low chance that the same UMI pattern will bind two of the same transcript.</p>
  <p>However, this theory is based on the assumption that the 65 thousand UMIs are present in roughly equal amounts. If this assumption was found to be wrong, it could have serious implications for the reliability of UMI methods.</p>
  </div>

<br>

<div class='w3-container'>
  <button class="w3-button w3-block w3-theme w3-hover-bar-theme w3-left-align accordion">Histogram of UMI frequencies</button>
  <div id="histo" class="w3-container panel">
      <canvas id="histoChart"></canvas>
      <div class="slidecontainer">
        <input type="range" min="10" max="60000" value="130" class="slider" step="1" id="myRange">
      </div>
      <div id='demo'></div>
      <p>Drag the slider to change the maximum value on the y axis. Note that the most frequent UMI (only visible at low y max values) is present 8,898 times. Dragging the slider all the way to the right reveals the magnitude of the inequality in UMI frequencies. Almost all UMIs present in this data appear between 1 and 25 times. The extremely long tail of this histogram is already a strong indication that UMIs are not as random as expected.</p>
  </div>
  <button class="w3-button w3-block w3-theme w3-hover-bar-theme w3-left-align accordion">Frequencies of the 50 most common UMIs</button>
  <div id="Freqs" class="w3-container panel">
      <canvas id="freqChart"></canvas>
      <p>The UMIs shown here are the most frequent, so they are found in the long tail of the previous histogram. Looking at the sequences reveals that the most common UMIs have relatively low complexity. The sequence of the most common UMI is actually just eight guanosine residues and almost all of the top 50 contain 7 or more of the same nucleotide. This observation is investigated further in the next tab.</p>
  </div>

  <button class="w3-button w3-block w3-theme w3-hover-bar-theme w3-left-align accordion">Composition of the 1,000 most common UMIs</button>
  <div id="Top1000" class="w3-container panel">
    <br>
    <table class="w3-table w3-bordered">
    <thead>
    <tr class="w3-theme-l1 table-hover">
      <th></th>
      <th colspan="2" class='w3-center'>>=5 Bases Identical</th>
      <th colspan="2" class='w3-center'>>=6 Bases Identical</th>
      <th colspan="2" class='w3-center'>>=7 Bases Identical</th>
    </tr>
    </thead>
    <tbody>
    <tr class='w3-theme-l1'>
      <th>Repeated Base</th>
      <th>No. UMIs</th>
      <th>Percentage</th>
      <th>No. UMIs</th>
      <th>Percentage</th>
      <th>No. UMIs</th>
      <th>Percentage</th>
    </tr>
    <tr>
      <td>A</td>
      <td>204</td>
      <td>22%</td>
      <td>182</td>
      <td>26%</td>
      <td>25</td>
      <td>26%</td>
    </tr>
    <tr class="w3-theme-l4">
      <td>C</td>
      <td>46</td>
      <td>5%</td>
      <td>36</td>
      <td>5%</td>
      <td>22</td>
      <td>23%</td>
    </tr>
    <tr>
      <td>G</td>
      <td>466</td>
      <td>49%</td>
      <td>274</td>
      <td>40%</td>
      <td>25</td>
      <td>26%</td>
    </tr>
    <tr class="w3-theme-l4">
      <td>T</td>
      <td>229</td>
      <td>24%</td>
      <td>197</td>
      <td>29%</td>
      <td>25</td>
      <td>26%</td>
    </tr>
    <tr class="w3-theme-l1">
      <td><b>Total</b></td>
      <td><b>945</b></td>
      <td><b>100%</b></td>
      <td><b>689</b></td>
      <td><b>100%</b></td>
      <td><b>97</b></td>
      <td><b>100%</b></td>
    </tr>
    </tbody>
    </table>
    <br>
    <p>Expanding the focus to the top 1,000 most common UMIs, it is clear that low complexity is related in some way to frequency. The same nucleotide makes up more than half of the sequence for almost 70% of these UMIs. By far the most common nucleotide in the top 1,000 is guanosine while curiously, cytosine is highly underrepresented. </p>
  </div>

  <button class="w3-button w3-block w3-theme w3-hover-bar-theme w3-left-align accordion">Comparison of UMI counts across two experiments</button>
  <div id="2exp" class="w3-container panel">
      <canvas id="2expChart"></canvas>
      <p>Comparing these results with those of a similar <i>S. pombe</i> experiment suggests that UMI frequency is consistent across experiments. Here, the natural logarithm has been taken for both axes and a very strong correlation can easily be seen.</p>
  </div>

</div>

<br>

<div class="w3-container">
  <h5>Conclusion</h5>
  <p>Well this leads us to believe they are not that random actually</p>
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
</div>

<div class="w3-row w3-container">
    <a class="w3-btn w3-theme w3-hover-theme w3-left" href="/umi/"><i class='fa fa-arrow-left'></i> Previous<br>Return to Home</a>
    <a class="w3-btn w3-theme w3-hover-theme w3-right" href="/umi/amp-bias">Next <i class='fa fa-arrow-right'></i><br>Amplification Bias?</a>
</div>

<br>
<br>

<script>
var acc = document.getElementsByClassName("accordion");
var w;

for (w = 0; w < acc.length; w++) {
  acc[w].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
      panel.style.border = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
      panel.style.border = 1 + "px solid #b7d9fc";
    }
  });
}

var ctx = document.getElementById('freqChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: umiRandom_1_umis,
        datasets: [{
            label: "Occurence",
            backgroundColor: 'rgb(99, 99, 255)',
            borderColor: 'rgb(99, 99, 255)',
            data: umiRandom_1_counts,
        }],

    },

    // Configuration options go here
    options: {
        scales: {
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Count'
                }
            }],
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'UMI Sequence'
                },
                ticks: {
                  fontSize: 12,
                  maxRotation: 90,
                  minRotation: 90
                }
            }]
        }
    }
});


var twoExpData = umiRandom_2_xcounts.map((x, i) => {
  return {
    x: x,
    y: umiRandom_2_ycounts[i]
  };
});
var ctx2 = document.getElementById('2expChart').getContext('2d');
var chart2 = new Chart(ctx2, {
    // The type of chart we want to create
    type: 'scatter',

    // The data for our dataset
    data: {
        labels: umiRandom_1_umis,
        datasets: [{
            label: "Occurence",
            data: twoExpData,
            showLine: false
        }],

    },

    // Configuration options go here
    options: {
      tooltips: {
        enabled: false
      },
        scales: {
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Log UMI Count in Experiment 2'
                }
            }],
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Log UMI Count in Experiment 1'
                }
            }]
        }
    }
});

function histogram(data, size) {
    var length = data.length;

    var min = data[0];
    var max = data[1];

    for (var i = 0; i < length; i++) {
        var item = data[i];
        if (item < min) min = item;
        else if (item > max) max = item;
    }

    var bins = Math.ceil((max - min + 1) / size);

    var histogram = new Array(bins);

    for (var i = 0; i < bins; i++) histogram[i] = 0;

    for (var i = 0; i < length; i++)
        histogram[Math.floor((data[i] - min) / size)]++;

    return histogram;
}

var histo = histogram(umiRandom_3_counts, 25)
var maximum = 8880
var histoBins = []
var i = 0
while (i <= maximum) {
  histoBins.push(i)
  i = i + 25
}

var ctx3 = document.getElementById('histoChart').getContext('2d');
var chart3 = new Chart(ctx3, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: histoBins,
        datasets: [{
            label: "Occurence",
            data: histo,
            backgroundColor: 'rgb(99, 99, 255)',
            borderColor: 'rgb(99, 99, 255)',
        }],

    },

    // Configuration options go here
    options: {
        scales: {
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Occurence'
                },
                ticks: {
                  max: 130,
                }
            }],
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'UMI Frequency (count)'
                },
                ticks: {
                  fontSize: 12,
                  maxRotation: 90,
                  minRotation: 90,
                  maxTicksLimit: 100,
                }
            }],

        }
    }
});

var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
    output.innerHTML = this.value;
    chart3.options.scales.yAxes[0].ticks.max = parseInt(this.value);
    chart3.update();
}
</script>

<br>
{% endblock %}
